<div class='title text-center'>
  <p class='mb-16'><%= link_to image_tag('logo.png', :size =>'150x150'), '/' %></p>
  <p class='text-4xl mb-16'>笑いを数値化してみませんか？</p>
  <div class='text-lg mb-8'>
    <button
      class='text-white bg-red-600 hover:text-red-600 hover:bg-white border-red-600 border rounded px-4 py-1'><%= link_to "はじめる", :new_event %></button>
  </div>
  <p class='text-xl  mb-16'>First Round は、お笑いが好きな人向けの審査・採点サービスです。</p>
</div>
