<div>
  <h1 class="font-bold text-4xl">Events#new</h1>
  <p>Find me in app/views/events/new.html.erb</p>
</div>
<div id ='messages', data-event_id="<%= @event_id %>">
<%= @event_id %>
</div>
<p>UUIDはこれ</p>
<p><%= @uuid %></p>
