<div class='container text-center'>
  <div id='messages' , data-event_id="<%= @event_id %>">
    <%= @event_id %>
  </div>
  <p class='text-lg mb-8'>URLをみんなに共有しよう！</p>

  <input class='w-full mt-2 mb-6 px-4 py-2 border rounded-lg' id="uuid_url" value=<%= @uuid_url %>
    onclick="this.select()" readonly="readonly" />
</div>
