<footer class="footer py-4 bg-cyan-800">
    <ul class="md:flex md:justify-around text-white">
      <li><%= link_to "このサービスについて", '#' %></li>
      <li><a href="https://twitter.com/yoshitaku_jp">作った人のTwitter</a></li>
      <li><%= link_to image_tag('GitHub-Mark-Light-32px.png'), 'https://github.com/yoshitaku-jp/first-round' %></li>
    </ul>
  </nav>
</footer>
