<header>
  <div class="px-6 py-4 bg-orange-600">
    <div class="mt-4 text-center">
      <p class='text-lg py-6 mb-2'><%= link_to "First Round", root_path%></p>
      <div>
        <button
          class='text-white bg-red-600 hover:text-red-600 hover:bg-white border-red-600 border text-md rounded-full px-4 py-1'><%= link_to "新しいイベントを作成する", :new_event %></button>
      </div>
    </div>
  </div>
</header>
